<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Список машин</h1>

<div th:if="${cars.isEmpty()}">
    <p>Машины не найдены!</p>
</div>

<table th:unless="${cars.isEmpty()}">
    <tr>
        <th>Модель</th>
        <th>Страна</th>
        <th>Год</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.modelCar}"></td>
        <td th:text="${car.countryCar}"></td>
        <td th:text="${car.ageOfTheCar}"></td>
    </tr>
</table>

<div>
    <h3>Попробуйте разное количество:</h3>
    <a th:href="@{/cars(count=1)}">Показать 1 машину</a> |
    <a th:href="@{/cars(count=2)}">Показать 2 машины</a> |
    <a th:href="@{/cars(count=3)}">Показать 3 машины</a> |
    <a th:href="@{/cars(count=4)}">Показать 4 машины</a> |
    <a th:href="@{/cars(count=5)}">Показать все машины</a>
</div>
</body>
</html>